* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  color: #fff;
  font-family: "Annotation mono", Helvetica;
}

html {
  scroll-behavior: smooth;
}
.align_center {
  display: flex;
  align-items: center;
}
